body{
    background: lightskyblue;
}
.title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imageContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: lightyellow; */
    /* padding: 2px; */
}

.hiddenImage{
    background-color: rgb(233, 134, 233);
    outline:black solid 5px;
    width: 20vw;
    height: 20vh;   
    margin: 10px;
}